*{
    margin: 0;
    padding: 0;
    color: azure;
}
.myclass{
    background-color: black;
}

.container{

    margin: -100px auto;
    width: 90%;
    max-width: 700px;
}

.rem{
    margin-top: 20px;
    background-color: white;
    height: 60px;
    width: 500px;
    border-radius: 10px;
}

.rem input{

    border-radius: 10px;
    padding: 16px;
    width: 500px;
    max-width: 430px;
    outline: none;
    border: none;
}
#img1{

    height: 50px;
    width: auto;
    float: right;
    padding: 10px;
    margin-top: 7px;
}
#img2{
    height: auto;
    width: 18px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

#inner span{
    color: green;
    border-bottom: 2px solid green;
}

.generate{

    margin-top: 20px;
    color: white;
    background-color: green;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    max-width: 430px;
}
.generate button{
    outline: none;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    width: 120px;
    height: 50px;
    max-width: 430px;
    margin-left: 10px;
    white-space: nowrap;;
    

}
.generate button:focus {
    outline: none;
  }

li:hover{
    top: -0.5px;
    box-shadow: 0 3px rgb(16, 67, 236);
}

#text{

    display: none;
    margin-top: 10px;

    

    
}